{% extends 'auth_base.html' %}

{% block auth_cotent %}
<h3>Recover Your Password</h3>
<form action="#" method="GET">
    <div class="form-group form-box">
        <input type="email" name="email" class="input-text" placeholder="Email Address">
    </div>
    <div class="form-group clearfix">
        <button type="submit" class="btn-md btn-theme btn-block">Send Me Email</button>
    </div>
    <div class="extra-login clearfix">
        <span></span>
    </div>
</form>
<div class="clearfix"></div>

<p>Already a member? <a href="/login">Login here</a></p>
{% endblock auth_cotent %}