{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="xs-banner" id="home">
    <div class="banner-slider owl-carousel">
        <div class="single-banner-slide"
            style="background-image: url('{% static "pages/assets/images/slider/slider-bg-1.jpg" %}')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="xs-banner-content">
                            <h3 class="banner-title">Cheap and Fast Social Media Services
                            </h3>

                            <p>
                                The one powerful SMM tool you need for successful promos online.
                            </p>
                            <div class="btn-wraper">
                                <a href="/login" class="btn btn-secondary">Click to Login Here</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner-image image-one">
                            <img src="{% static 'pages/assets/images/slider/slider-image3.png' %}" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

<section class="why-choose-section xs-section-padding" id="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="xs-heading text-center">

                    <h3 class="section-title">Why Choose us</h3>
                    <p>Let us help you build your online presence quickly and efficiently.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="why-choose-us-block wow fadeInUp">
                    <div class="choose-us-img">
                        <img src="{% static 'pages/assets/images/features/features-1.png' %}"
                            alt="hostinza hosting image" />
                    </div>
                    <h4 class="xs-content-title">Top-quality services</h4>
                    <p>
                        Only high-quality SMM services for our customers.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="why-choose-us-block wow fadeInUp" data-wow-duration="1.5s">
                    <div class="choose-us-img">
                        <img src="{% static 'pages/assets/images/features/features-2.png' %}"
                            alt="hostinza hosting image" />
                    </div>
                    <h4 class="xs-content-title">Incredible prices</h4>
                    <p>We offer incredible prices to make our customers happy.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="why-choose-us-block wow fadeInUp" data-wow-duration="2s">
                    <div class="choose-us-img">
                        <img src="{% static 'pages/assets/images/features/features-3.png' %}"
                            alt="hostinza hosting image" />
                    </div>
                    <h4 class="xs-content-title">Multiple payment methods</h4>
                    <p>Pick a payment method you want to add funds.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="xs-section-padding primary-bg working-process-anim">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="xs-heading text-center">

                    <h3 class="section-title">Where to begin?</h3>
                    <p class="text-white">Want to start placing orders on our panel? Follow these 4 easy steps.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="row no-gutters working-process-group">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-work-process">
                            <div class="work-process-icon">
                                <img src="{% static 'pages/assets/images/work-process/1.png' %}" alt="" />
                            </div>
                            <h4 class="small">Sign up and log in</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-work-process">
                            <div class="work-process-icon">
                                <img src="{% static 'pages/assets/images/work-process/2.png' %}" alt="" />
                            </div>
                            <h4 class="small">Deposit funds</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-work-process">
                            <div class="work-process-icon">
                                <img src="{% static 'pages/assets/images/work-process/3.png' %}" alt="" />
                            </div>
                            <h4 class="small">Pick out services</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-work-process">
                            <div class="work-process-icon">
                                <img src="{% static 'pages/assets/images/work-process/4.png' %}" alt="" />
                            </div>
                            <h4 class="small">Instant results</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="xs-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="">
                </div>
            </div>


            <div class="col-md-6">

                <iframe src="https://www.youtube.com/embed/SZKa1uSSodA?autoplay=1&amp;mute=1" width="500" height="500"
                    frameborder="10" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
            </div>

        </div>
    </div>
</section>





<section class="xs-section-padding gray-bg" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="xs-heading text-center">
                    <h2 class="section-subtitle">Frequently Asked Questions</h2>
                    <h3 class="section-title">Our FAQs</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="faq-accordion-group">
                    <div class="row">
                        <div class="col-md-6 align-self-center">
                            <div class="accordion-wraper">
                                <div class="accordion faqAccordion" id="faqAccordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <a class="btn-link" href="#" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                What is the purpose of SMM panels?
                                            </a>
                                        </div>
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                            data-parent="#faqAccordion">
                                            <div class="card-body">
                                                <p>
                                                    An SMM panel is an online shop that people visit to buy SMM services
                                                    to grow their accounts.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <a class="btn-link collapsed" href="#" data-toggle="collapse"
                                                data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                What SMM services do you offer on your panel?
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                            data-parent="#faqAccordion">
                                            <div class="card-body">
                                                <p>
                                                    We sell various types of SMM services on our panel: likes, views,
                                                    followers and more.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <a class="btn-link collapsed" href="#" data-toggle="collapse"
                                                data-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">
                                                Are your SMM services safe to purchase?
                                            </a>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                            data-parent="#faqAccordion">
                                            <div class="card-body">
                                                <p>
                                                    Yes, it is safe to buy our SMM services, it won't get your social
                                                    media account banned or anything like that.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingFour">
                                            <a class="btn-link collapsed" href="#" data-toggle="collapse"
                                                data-target="#collapseFour" aria-expanded="false"
                                                aria-controls="collapseFour">
                                                Mass orders — what are they?
                                            </a>
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                            data-parent="#faqAccordion">
                                            <div class="card-body">
                                                <p>
                                                    This feature allows to place multiple orders at the same time.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingFive">
                                            <a class="btn-link collapsed" href="#" data-toggle="collapse"
                                                data-target="#collapseFive" aria-expanded="false"
                                                aria-controls="collapseFive">
                                                Drip-feed — what is it?
                                            </a>
                                        </div>
                                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                            data-parent="#faqAccordion">
                                            <div class="card-body">
                                                <p>
                                                    It's possible to build the engagement on social media accounts as
                                                    quickly as
                                                    you want using Drip-feed. If you order, for example, 1000 likes on
                                                    your Telegram post,
                                                    you can either get all 1000 right away or make the process more
                                                    seamless. As an option,
                                                    100 likes per day for 10 days.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="faq-img-wraper text-center">
                                <img src="{% static 'pages/assets/images/faq-ladies-vector.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    </div>
</section>


{% endblock content %}