{% extends 'dashboard/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card w-50 mb-5">
        <div class="card-body">
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            <form method="post" action="/user/add-founds">
                {% csrf_token %}
                <label for="">Method</label>
                <select class="form-select mb-3" name="payment_method">
                    <option selected>--select--payment--method--</option>
                    {% for payment_method in payment_methods %}
                        <option value="{{ payment_method.slug }}">{{ payment_method.name }}</option>
                    {% endfor %}
                    
                </select>   
                <label for="">Amount</label>
                <input type="text" name="amount" value="" placeholder="$0.00" class="form-control">  
                <!-- {{ form|crispy }}     -->
               <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary">submit</button>
               </div>
            </form>
        </div>
    </div>
 </div>

 <div class="d-flex justify-content-center">   
    <div class="card w-50 mb-5">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Method</th>
                    <th>Amount</th>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock  %}