{% extends 'dashboard/base.html' %} 

{% block content %}
<div class="d-flex justify-content-center">   
    <div class="card w-75 mb-3">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <th>Referral link</th>
                    <th>Commission rate</th>
                    <th>Mininum payout</th>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">   
    <div class="card w-75 mb-5">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <th>Visit</th>
                    <th>Registration</th>
                    <th>Referrals</th>
                    <th>Conversion rate</th>
                    <th>Total Earnings</th>
                    <th>Available Earnings</th>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">   
    <div class="card w-75">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <th>Payout date</th>
                    <th>Payout amount</th>
                    <th>Payout status</th>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}