{% extends 'dashboard/base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
       <strong> RECOMMENDED SERVICES</strong>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <th>ID</th>
                <th>Service</th>
                <th>Price</th>
                <th width="30">Description</th>
            </thead>
            <tbody>
               {% for service in services %}
               <tr>
                <td>{{ service.pk }}</td>
                <td>{{ service.name }}</td>
                <td>${{ service.price }}</td>
                <td >
                    <a href="#" data-id="{{ service.pk }}" class="btn btn-primary details">View</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="serviceDetails" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5> Description:</h5>
          <p id="de"></p>
          <h5>Price:</h5>
          <p id="price"></p>
        </div>
        
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
    $('.details').click(function(e){
    e.preventDefault();
    var id = $(this).data('id')
 
    $.ajax({
        type: 'GET',
        url: "{% url 'service_details' %}",
        data: {"id": id},
        success: function (response) {
            data = JSON.parse(response.data)  
            $('#exampleModalToggleLabel').html(data['0']['fields']['name'])
            $('#de').html(data['0']['fields']['description'])
            $('#price').html('$'+data['0']['fields']['price'])
            $('#serviceDetails').modal('show')
        },
        error: function(data) {
            console.log(data);
          }
    })
})
</script>
{% endblock %}