{% extends 'dashboard/base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
       <strong> TELEGRAM MEMBERS</strong>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <th>ID</th>
                <th>Service</th>
                <th>Rate Per 1000</th>
                <th>Min Order</th>
                <th>Max Order</th>
                <th>Average Time</th>
                <th>Description</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}