{% extends 'dashboard/base.html' %} 

{% block content %}
<div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <th>Date</th>
                <th>Charge</th>
                <th>Service</th>
                <th>Status</th>
               
            </thead>
            <tbody>
                {% for subscribtion in subscriptions %}
                <tr>
                    <td>{{ subscribtion.created_on }}</td>
                    <td>$ {{ subscribtion.service.price }}</td>
                    <td>{{ subscribtion.service.name }}</td>
                    <td>
                        {% if subscribtion.status == '1' %}
                        <span class="badge bg-success-lighten">Active</span>
                        {% elif  subscribtion.status == '0' %}
                        <span class="badge bg-danger-lighten">Expired</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}