{% extends 'dashboard/base.html' %} 

{% block content %}
<div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <th>ID</th>
                <th>Date</th>
                <th>Link</th>
                <th>Charge</th>
                <th>Start count</th>
                <th>Quantity</th>
                <th>Service</th>
                <th>Status</th>
                <th>Remains</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}